<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Occupants</title>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
</head>
<style>
#occInput {
  background-image: url("{{url_for('static',filename='searchicon.png') }}"); /* Add a search icon to input */
  background-position: 0% 50%; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  padding-left: 20px;  /*Add some padding */
}
#occTable {
  border-collapse: collapse; /* Collapse borders */
}
.table thead th {
    vertical-align: center;
    white-space: nowrap;
    }
</style>
	<body class="container-fluid">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand"><b>JSAT</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('rooms') }}">List of Rooms</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('roomdetails', room=tc_users[0]) }}">Room Details</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search for Occupant..." aria-label="Search" id="occInput" onkeyup="myOcc()">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>

<div align="center"><span style="font-size:20px;">List of Occupants in room:</span> <span style="font-size:20px; color:#038; font-weight:bold;text-transform: uppercase">{{ room[:room.index("@")] }}</span></div>
<div>Total Occupants: <b>{{ totalocc }}</b></div>
<div class="table-responsive-sm">
			<table id="occTable" class="table table-bordered table-hover">
				<thead class="thead-light">
				<tr>
					<th>Room Name</th>
					<th>Occupants</th>
					<th>Role</th>
					<th>Affiliation</th>
					<th>Nick/Handle</th>
					<th>Action</th>
				</tr>
				</thead>
				<tbody>
				{% for row in tc_users %}
				<tr>
					<td style="color:#038; font-weight:bold;text-transform: uppercase">{{row[0][:row[0].index("@")]}}</td>
					<td>{{row[1]}}</td>
					<td>{{row[2]}}</td>
					<td>{{row[3]}}</td>
					<td>{{row[4].split('/', 1)[1]}}</td>
					<td><a class="btn btn-secondary btn-sm" href="#"> Kick</a></td>
				</tr>
				{% endfor %}
				</tbody>
				<tfoot class="thead-light">
				<tr>
					<th>Room Name</th>
					<th>Occupants</th>
					<th>Role</th>
					<th>Affiliation</th>
					<th>Nick/Handle</th>
					<th>Action</th>
				</tr>
				</tfoot>
		</table>
</div>
		<script>
function myOcc() {
  // Declare variables
  var input, filter, table, tr, td, i, txtValue;
  input = document.getElementById("occInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("occTable");
  tr = table.getElementsByTagName("tr");

  // Loop through all table rows, and hide those who don't match the search query
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[1];
    if (td) {
      txtValue = td.textContent || td.innerText;
      if (txtValue.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>
	<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
    </body>
</html>