<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Room Details for {{ room }}</title>
	<link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
</head>
<style>

</style>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">JSAT</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('rooms') }}">List of Rooms</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">List of Occupants</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div align="center"><span style="font-size:20px;">Configuration Details for the room:</span> <span style="font-size:20px; color:#038; font-weight:bold;text-transform: uppercase">{{ room[:room.index("@")] }}</span></div>
<p>Room Name  {{ room[:room.index('@')] }}</p>
<table style="width:100%" border="1">
				<tr>
					<th>Room Name</th>
                    <th>Creator</th>
					<th>Subject</th>
                    <th>Configuration</th>
                    <th>Arhived Messages</th>
                    <th>Active Occupants</th>
				</tr>
				<tr>
					<td>{{roomdetails[0][0][:roomdetails[0][0].index("@")]}}</td>
					<td>{{roomdetails[0][1]}}</td>
					<td>{{roomdetails[0][2]}}</td>
					<td style="padding: 0"> <table>
						{% for key,value in configDict.items() %}
						<tr>
							<td>{{ key }}</td>
							{% if value == '1' %}
							<td><input type="checkbox" onclick="return false;" disabled="disabled" checked="checked"></td>
							{% elif value == '0' %}
							<td><input type="checkbox" onclick="return false;" disabled="disabled"></td>
							{% else %}
							<td>{{ value }}</td>
							{% endif %}
  						 </tr>
							{% endfor %}
					</table>
					</td>
                    <td>{{roomdetails[0][4]}}</td>
                    <td>{{roomdetails[0][5]}}</td>
				</tr>
		</table>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</body>
</html>